<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-2 mb-3 shadow-sm">
  <a href="{% url 'mailings:home' %}"
     class="d-flex align-items-center mb-2 mb-lg-0 h5 text-decoration-none me-2">MailerX</a>
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a href="{% url 'clients:client_list' %}"
         class="nav-link px-2 text-dark">Clients</a>
    </li>
    <li>
      <a href="{% url 'mail_messages:message_list' %}"
         class="nav-link px-2 text-dark">Messages</a>
    </li>
  </ul>
  <div class="text-end">
    {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">{{ user }}</button>
        <ul class="dropdown-menu">
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <form action="{% url 'users:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    {% else %}
      <a class="btn btn-outline-dark" href="{% url 'users:login' %}">Login</a>
      <a class="btn btn-dark" href="{% url 'users:register' %}">Sign-up</a>
    {% endif %}
  </div>
</div>
