<div class="card mx-auto" style="max-width: 1000px">
  <div class="d-flex justify-content-between card-header fw-bold">
    <div>Your clients</div>
    <a class="text-primary text-decoration-none"
       href="{% url 'clients:client_create' %}">create new</a>
  </div>
  <ul class="list-group list-group-flush">
    {% for client in user.clients.all %}
      <li class="list-group-item d-flex justify-content-between">
        <div>
          {{ client.email }} <i class="text-muted">({{ client.full_name }})</i>
        </div>
        <div>
          <a class="text-success text-decoration-none me-1"
             href="{% url 'clients:client_update' client.pk %}">edit</a>
          <a class="text-danger text-decoration-none"
             href="{% url 'clients:client_delete' client.pk %}">delete</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
