<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">Users</button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url base_url_name %}">All</a>
    </li>
    {% for user in user_list %}
      <li>
        <a class="dropdown-item"
           href="{% url base_url_name %}?user_pk={{ user.pk }}">{{ user.email }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
