{% extends "base.html" %}
{% block title %}{{ block.super }} - Login{% endblock %}
{% block content %}
  <div class="container mt-5">
    <h1>Login, using the form below</h1>
    <h4 class="mb-4">
      or <a href="{% url 'users:register' %}">register a new account</a>
    </h4>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-4 mb-2">
        Forgot your password 😢? You can <a href="{% url 'users:password_reset' %}">reset it now</a>.
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
{% endblock %}
