{% extends "base.html" %}
{% block title %}{{ block.super }} - List of users{% endblock %}
{% block content %}
  <ul class="list-group mx-auto" style="max-width: 800px">
    {% for user in user_list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ user.email }}
        <form method="post"
              action="{% url 'users:set_user_block_status' user.pk %}">
          {% csrf_token %}
          {% if user.is_active %}
            <button type="submit" class="btn btn-sm btn-outline-danger">ban</button>
          {% else %}
            <button type="submit" class="btn btn-sm btn-danger">unban</button>
          {% endif %}
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
