{% extends "base.html" %}
{% block title %}{{ block.super }} - Clients{% endblock %}
{% block content %}
  <div class="container my-4" style="max-width: 1000px;">
    {% if user.clients.exists %}
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="fw-bold m-0">Your Clients</h5>
        <a class="btn btn-primary" href="{% url 'clients:client_create' %}">Create New</a>
      </div>
      {% include "partials/list_of_clients.html" %}
    {% else %}
      <h2>
        You have no clients. You can <a href="{% url 'clients:client_create' %}">add a new one</a> now.
      </h2>
    {% endif %}
  </div>
{% endblock %}
